# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next/
out/
.next.cache/
*.hot-update.*
.next/trace

# Env & secrets
.env
.env*.local

# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Logs
logs
*.log

# Netlify/Vercel local
.netlify
.vercel
